.navbar-brand{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  z-index: ($zindex-navbar + 10);
}

.navbar-toggle{
	border-color: transparent;
	z-index: ($zindex-navbar + 20);
}

.navbar-toggle.navbar-left{
	float: left;
}